<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Printi - Home</title>
</head>

<body>
    <h1>Welcome to Printi</h1>
    <!-- Link to add a printer page -->
    <a href="{{ url_for('printer_setup') }}">Add a Printer</a><br>
    
    <!-- Link to connect printer page -->
    <a href="{{ url_for('connect_printer_route') }}">Connect to Printer</a>

</body>

</html>
