<!DOCTYPE html>
<html>

<head>
    <title>Payment</title>
</head>

<body>
    <h2>Payment Details</h2>
    <p>Printer: {{ printer_name }}</p>
    <p>Number of Pages: {{ num_pages }}</p>
    <p>Amount to be paid: ₹{{ amount / 100 }}</p>

    <form action="/payment_success" method="POST">
        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_HlPtr7sPat9Rkd"
            data-amount="{{ amount }}" data-currency="INR" data-order_id="{{ order_id }}"
            data-buttontext="Pay with Razorpay" data-name="Printer Project" data-description="Document Printing Service"
            data-image="https://yourlogo.com/logo.png" data-prefill.name="User Name"
            data-prefill.email="user@example.com" data-theme.color="#007bff"></script>
        <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
        <input type="hidden" name="razorpay_order_id" id="razorpay_order_id">
        <input type="hidden" name="razorpay_signature" id="razorpay_signature">
    </form>
</body>

</html>